.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: bisque;
}

.movie {
  margin: 10px;
  width: 400px;
  align-items: center;
  justify-content: center;
  border: 4px solid black;
  border-radius: 3px;
}

.TextField {
  margin-top : 20px
}